<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDXGpClyvOplISyW9V9iIPyPRiyNcsLhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>689508132473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>campominado-30382</string>
	<key>STORAGE_BUCKET</key>
	<string>campominado-30382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689508132473:ios:833dbc103808c0f7ad56a8</string>
</dict>
</plist>